@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 98%;
        --foreground: 120 27% 19%;
        --card: 0 0% 100%;
        --card-foreground: 120 27% 19%;
        --popover: 0 0% 100%;
        --popover-foreground: 120 27% 19%;
        --primary: 70 38% 45%;
        --primary-foreground: 88 10% 95%;
        --secondary: 50 30% 80%;
        --secondary-foreground: 50 30% 20%;
        --muted: 0 0% 65%;
        --muted-foreground: 50 30% 20%;
        --accent: 70 38% 45%;
        --accent-foreground: 88 10% 95%;
        --destructive: 0 60% 45%;
        --destructive-foreground: 0 0% 98%;
        --border: 216 12% 84%;
        --input: 210 20% 98%;
        --ring: 70 38% 45%;
        --radius: 0.5rem;
    }
    .dark {
        --background: 240 2% 20%;
        --foreground: 240 3% 92%;
        --card: 240 1% 28%;
        --card-foreground: 240 3% 97%;
        --popover: 120 20% 12%;
        --popover-foreground: 240 3% 92%;
        --primary: 70 38% 45%;
        --primary-foreground: 88 10% 95%;
        --secondary: 70 10% 40%;
        --secondary-foreground: 50 10% 95%;
        --muted: 0 0% 70%;
        --muted-foreground: 50 10% 95%;
        --accent: 70 38% 45%;
        --accent-foreground: 88 10% 95%;
        --destructive: 0 55% 55%;
        --destructive-foreground: 0 0% 95%;
        --border: 240 1% 66%;
        --input: 240 1% 55%;
        --ring: 70 38% 45%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

#root {
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
